.homeCompMainDiv {
    margin-top: 80px;
    margin-bottom: 50px;
}

.firstLetter {
    color: black;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  .tracking-in-contract-bck-bottom {
	-webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(300px);
              transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(300px);
              transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

.companyTitleDiv {
    font-size: 80px;
    text-align: center;
    background-color: rgb(119, 139, 165);
    padding: 50px;
}

@media screen and (max-width: 800px) {
    .companyTitle {
        font-size: 50px;
    }
}

.companyTitle {
    font-weight: 500;
    color: rgb(221, 221, 221);
    font-family: 'Newsreader', serif;
}

.companyUnderText {
    font-size: 18px;
    text-align: center;
    color: white;
}

.whyDiv {
    max-width: 900px;
    text-align: center;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: auto;
    font-family: 'Gruppo', cursive;
    font-size: larger;
    font-weight: 700;
}

@media screen and (max-width: 1000px) {
    .whyDiv {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.estimate {
    width: 28%;
    max-width: 600px;
    margin-left: auto;
    margin-right: 120px;
    margin-top: -260px;
    background-color: rgb(183, 209, 226) !important;
    box-shadow: 0 0 30px 5px rgb(92, 92, 92);
}

.required:after {
    content: "*";
    color: red;
}

.estimate input {
    display: block;
    width: 90%;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    margin-bottom: 5px;
}

.estimate textarea {
    display: block;
    width: 90%;
    height: 80px;
    border-radius: 5px;
    border: 0;
}

.estimate button {
    display: block;
    margin: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 40px;
    background-color: rgb(119, 139, 165);
    color: white;
    font-weight: 600;
}


.newJersey {
    width: 70%;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
}

.newJersey img {
    width: 35%;
}

@media screen and (max-width: 1520px) {
    .estimate {
        width: 40%;
        margin-right: auto;
        margin-top: 40px;
    }
    .whyDiv {
        margin-left: auto;
        margin-right: auto;
    }
    .newJersey {
        text-align: center;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .newJersey img {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .estimate {
        width: 80%;
    }

    .newJersey img {
        width: 90%;
    }
}