.marketHeader {
    text-align: center;
    padding-bottom: 150px;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3) ),url('https://coverfiles.alphacoders.com/497/49796.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.marketHeaderTitle {
    font-size: 75px;
    font-family: 'Newsreader', serif;
    color: white;
    padding-top: 100px;
}

.marketHeaderText {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.fbAdsDiv {
    text-align: center;
    margin-top: 100px;
    font-family:'sans-serif';
}

.fbAdsImg {
    width: 22%;
}

.bronze {
    cursor: pointer;
}

.silver {
    cursor: pointer;
}

.gold {
    cursor: pointer;
}

.world {
    background: url("./mapAni.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    text-align: center;
    margin: 50px auto;
    width: 100%;
}

.connect {
    color: white;
    font-size: 30px;
}

.connWorld {
    color: white;
    font-size: 45px;
}

@media screen and (max-width: 1000px) {
    .fbAdsImg {
        display: block;
        margin: 0 auto;
        width: 30%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .fbAdsImg {
        width: 70%;
    }

    .world {
        background-size: contain;
    }

    .connect {
        color: black;
        font-size: 20px;
    }
    
    .connWorld {
        color: black;
        font-size: 30px;
    }
}

.marketingTitle {
    text-align: center;
    font-size: 60px;
    font-family: 'apple';
    font-weight: 700;
}

.marketingUnderTitle {
    text-align: center;
    font-family: 'apple';
    font-size: 25px;
    font-weight: 700;
}

.marketingText {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'apple';
    color: rgb(119, 119, 119);
}

.moreInfoDivs {
    font-family: 'apple';
    text-align: center;
}

.moreInfoDivs h2 {
    font-weight: 700;
}

.pageDeets {
    width: 30%;
    margin: 30px auto;
}

@media screen and (max-width: 1000px) {
    .pageDeets {
        width: 60%;
    }
}