.webMainDiv {
    margin-top: 80px;
    margin-bottom: 100px;
    background-color: rgb(0, 0, 0);
}

.mainWebDiv {
    background-image: url("./webserv.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    position: relative;
    width: 100%;
    box-shadow: 0 0 20px 20px;
}

.webTitle {
    padding-top: 80px;
    color: rgb(0, 255, 128);
    font-size: 90px;
    font-family: 'Newsreader', serif;
    text-align: center;
    position: relative;
}

.mainWebDiv:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
}

.webTitleUnderText {
    position: relative;
    color: rgb(0, 153, 255);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.whatWeDoDiv {
    text-align: center;
}

.whatWeDoTitle {
    font-size: 50px;
    font-weight: 600;
    color: rgb(86, 136, 163);
    font-family: 'Newsreader', serif;
    margin-top: 80px;
}

.whatWeDoText {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.whatWeOfferDiv {
    font-size: 30px;
    
}

.whatWeOffer {
    font-size: 60px;
    color: rgb(255, 74, 74);
}

.websiteEst {
    font-size: 30px;
}

.websiteEst a {
    color: rgb(78, 179, 78);
    font-weight: 700;
    text-decoration: none !important;
}

.questionLogo {
    width: 22%;
    margin-bottom: 40px;
}

.webReactLogo {
    width: 40%;
    margin-bottom: 15px;
}

.ourProcessTitle {
    font-size: 80px;
    font-weight: 600;
    color: rgb(58, 139, 105);
    font-family: 'Newsreader', serif;
    margin-top: 80px;
}

.ourProcessInfo {
    display: flex;
    justify-content: space-between;
    margin: 45px;
}

.ourProcessText {
    font-size: 20px;
    color: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1100px) {
    .ourProcessInfo {
        display: block;
    }
}